# Path to the Firebase service account JSON for the source project
#Got the file from google cloud console-> IAM policy-> set admin role-> service_account-> generate the keys->download json file
SOURCE_FIREBASE_CREDENTIALS_PATH=../credentials/source.json

# Path to the Firebase service account JSON for the destination project
DESTINATION_FIREBASE_CREDENTIALS_PATH=../credentials/destination.json
